* {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: 100vh;
	font-family: "Raleway, Gill Sans Extrabold, Helvetica, sans-serif";
}
.player {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 480px;
	overflow: hidden;
	border-radius: 15px;
	transition: all 500ms;
	box-shadow: 0 0 5000px rgba(9, 13, 17, 0.5);
}

.player:hover {
	box-shadow: 0 0 5000px rgba(255, 255, 255, 0.5);
	opacity: 1px;
}

.player .main {
	width: 100%;
	height: 100%;
	background: #373538;
	transition:all 500ms ease-in-out;
}


.player .main .thumbnail img {
	width: 100%;
}

.player .main .seekbar {
	margin-top: -15px;
}
.player .main .seekbar input[type="range"] {
	-webkit-appearance:none;
	width: 100%;
	height: 4px;
	outline: none;
	background: #aaa;
	overflow: hidden;
}
.player .main .seekbar input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 0px;
	height: 0px;
	box-shadow: -300px 0px 0px 300px #e1e2e2;
}
.player .main .details {
	text-align: center;
	padding: 15px 0px;
}
.player .main .details h2 {
	font-size: 18px;
	color:#eee;
	margin-bottom: 5px;
}
.player .main .details p {
	font-size: 15px;
	color: #aaa;
}
.player .main .controls {
	display: flex;
	justify-content: center;
	margin:8px 0px;
	cursor: pointer;
}

.player .main .controls:hover {
	
}

.player .main .controls > div {
	margin:0px 30px;
	cursor: pointer;
}
.player .main .controls i.fa {
	font-size:25px;
	color: #ddd;
}
.player .main .controls > div.play-pause-control i.fa-play {
	display: none;
	size: 50%;
}
.player .main .controls > div.play-pause-control.paused i.fa-play {
	display: block;
}
.player .main .controls > div.play-pause-control.paused i.fa-pause {
	display: none;
}
.player .player-list {
	position: absolute;
	width: 100%;
	margin-top:-20px;
	height: 350px;
	overflow-y: scroll;
	background: rgba(0,0,0,0.8);
	z-index:2;
	cursor: pointer;
	transition:all 500ms ease-in-out;
}
.player .player-list .toggle-list {
	position: sticky;
	top:0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #555;
	cursor: pointer;
}
.player .player-list .toggle-list i.fa {
	color: #ccc;
	font-size: 20px;
	font-weight: 600;
}
.player .player-list .toggle-list i.fa-angle-down {
	display: none;
}

.player .player-list .toggle-list.active i.fa-angle-up {
	display: none;
}
.player .player-list .toggle-list.active i.fa-angle-down {
	display: block;
}
.player .list {
	padding: 10px;
}
.player .list .item {
	display: flex;
	padding: 5px 0px;
	border-bottom: 1px solid #222;
}
.player .list .item .thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.player .list .thumbnail img {
	width: 100%;
	height: 100%;
}
.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}
.player .list .item .details h2 {
	color: #eee;
	font-size: 16px;
}
.player .list .item .details p {
	color: #aaa;
	font-size: 15px;
}

.player .player-list::-webkit-scrollbar {
	width: 5px;
	background: #222;
}
.player .player-list::-webkit-scrollbar-thumb {
	background: #aeafaf;
	overflow:auto;
}
.player.activeSongList .player-list {
	margin-top: -340px;
	width: 100%;
	
}

.player.activeSongList .main {
	filter:blur(5px);
}
/* 
#glass {
	width: 100%;
	height:100%;
	background-image: url('.files/img/YUKIKA.jpg');
	background-repeat: no-repeat;
	background-size: 450px 550px;
	box-shadow: 0 2px 5px #2a262c;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

#glass:before{
	width: 450px;
	height: 550px;
	background-image: url('.files/img/YUKIKA.jpg');
	background-repeat: no-repeat;
	background-size: 450px 550px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	-webkit-filter:blur(20px);
} */
